<p>
  <mat-toolbar class="bg-red-800">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-white">My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>fatvorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon class="bg-red-500">share</mat-icon>
    </button>
  </mat-toolbar>

</p>
<h1 class="text-5xl text-red-700 font-bold underline">
  Hello world!
</h1>
